
.testimonial-section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.sixth-section {
    border-bottom-left-radius: 6%;
    border-top-left-radius: 6%;
    background-color: #19404C;
}
.testimonial-slider-container{
    height:calc(300px + 10vw)
}


.sixth-section-box {
    border-radius: 0 40px 40px 0;
    background-color: #19404C;
}

.sixth-section-image {
    border-radius: 0 40px 40px 0;
    /* max-width: 100%; */
    /* height: auto !important; */
    overflow: hidden;

}

.sixth-section-text {
    font-size: calc(.8rem + .33vw);
    text-align: center;
    padding: inherit;
}




@media (max-width:576px) {
    .testimonial-slider-container{
        height:calc(300px + 10vw)
    }

    .responsive{
     border-radius: 20px 20px 0 0;
     /* padding-bottom: 30px; */
       
    }
    .img-responsive{
        border-radius: 0 0 20px 20px;
        
    }
    .responsive-text{    padding-bottom: 15px;}
}

